.norris-fact {
    width: 100%;
    display: grid;
    //background-color: aliceblue;
    margin: auto 0;

    > .text {
        //border: 1px solid #d8d8d8;
        margin: 0;
        //padding: 16px;
        //background-color: white;

    }
}
